nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    color: white;
    padding: 5px 5%;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.main-heading {
    display: flex;
    justify-content: flex-start;
    width: 125vh;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 200px;
    height: 20px;
    /* border: none; */
    border-radius: 20px;
    padding: 7px;
    /* outline: black; */
    border-width: 0.3px;
}

.homeLinkClass {
    margin-left: 10px;
    color: white;
}

.lower-section {
    display: flex;
    padding: 13px 5%;
    height: 100%;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 450px;
}

.dragDropUpload-div {
    background: #f5f7fa;
    width: 350px;
    height: 200px;
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 5px;;
}

.dropdown-div {
    margin-left: 10px;
    margin-right: 10px;
}

.select-dropdown {
    cursor: pointer;
    width: 130px;
    height: 40px;
}

option {
    width: 100px;
}

.submitButton {
    height: 35px;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
}

