<div class="outermost-section">
    <div class="upper-section">
        <nav>
            <h2 class="main-heading">INCEPTION KIOSK~</h2>
            <div class="input-container">
                <input type="text" class="input-field" placeholder="Search...">
            </div>
            <a [routerLink]="['']" class="homeLinkClass">Home</a>
        </nav>
    </div>
    <div class="lower-section">
        <div class="dropdown">
            <select>
                <option value="Alvar123">Alvar</option>
                <option value="Stark456">Stark</option>
                <option value="OcRam789">OC Ram</option>
            </select>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
</div>    