<div class="outermost-section">
    <div class="upper-section">
        <nav>
            <h2 class="main-heading">INCEPTION KIOSK~</h2>
            <div class="input-container">
                <input type="text" class="input-field" placeholder="Search...">
            </div>
            <a href="search" class="homeLinkClass">Search</a>
            <a [routerLink]="['']" class="homeLinkClass">Home</a>
        </nav>
    </div>
    <div class="lower-section">
        <div class="dragDropUpload-div">
            <div class="dragDrop-internal-box">
                <input style="display: none;" type="file" class="file-input" onchange="console.log(event.target.files)" #fileUpload>
                <div class="folder">
                    <div class="icon"></div>
                </div>
                <div>
                    <p class="dragDropParagraph-div">Drag and drop files to upload</p>
                </div>
                <div class="dragDrop-or-div">
                    <div><hr></div>
                    <div><p style="margin-left: 6px; margin-right: 6px;">Or</p></div>
                    <div><hr></div>
                </div>
                <div>
                    <button class="browse-button">
                        <a (click)="fileUpload.click()">Browse Files</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="dropdown-div">
            <select class="select-dropdown">
                <option value="#">Select Team ID</option>
                <option value="ALV">CSP_ALV</option>
                <option value="BIL">CSP_BIL</option>
                <option value="RAM">CSP_RAM</option>
            </select>
        </div>
        <div class="submitButton-div">
            <button class="submitButton">Upload</button>
        </div>
    </div>
</div>    