<div class="outermost-section">
    <div class="upper-section">
        <nav>
            <h2 class="main-heading">INCEPTION KIOSK~</h2>
            <div class="input-container">
                <input type="text" class="input-field" placeholder="Search...">
            </div>
            <a [routerLink]="['']" class="homeLinkClass">Home</a>
        </nav>
    </div>
    <div class="lower-section">
        <div class="dragDropUpload-div">
            <input style="display: none;" type="file" class="file-input" onchange="console.log(event.target.files)" #fileUpload>
            <div><p class="dragDropParagraph-div">Drag and drop or <a style="cursor: pointer; text-decoration: underline; color:rgba(6, 94, 225, 0.594)" (click)="fileUpload.click()">browse</a> your file</p></div>
        </div>
        <div class="dropdown-div">
            <select class="select-dropdown">
                <option value="#">Select Team ID</option>
                <option value="ALV">CSP_ALV</option>
                <option value="BIL">CSP_BIL</option>
                <option value="RAM">CSP_RAM</option>
            </select>
        </div>
        <div class="submitButton-div">
            <button class="submitButton">Upload</button>
        </div>
    </div>
</div>    