nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    color: white;
    padding: 5px 5%;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.main-heading {
    display: flex;
    justify-content: flex-start;
    width: 125vh;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 200px;
    height: 20px;
    /* border: none; */
    border-radius: 20px;
    padding: 7px;
    /* outline: black; */
    border-width: 0.3px;
}

.lower-section {
    display: flex;
    padding: 13px 5%;
    height: 100%;
}

.homeLinkClass {
    margin-left: 10px;
    color: white;
}