<p>sample-component-to-start works!!</p>
<h2>{{name}}</h2>
<button (click)="calledthroughButton()">Click</button>

<br>
<br>
<hr>

<div class="outermost-div">
    <div class="first-inner-div">
        <div></div>
    </div>
    <div class="second-inner-div">
        <div></div>
    </div>
</div>


<br>
<br>
<hr>

<h1>Heading</h1>
<h2>Subheading</h2>
<table border="1">
<tr>
<th>Name</th>
<th>Age</th>
<th>Gender</th>
</tr>
<tr>
<td>Alice</td>
<td>25</td>
<td>F</td>
</tr>
<tr>
<td>Bob</td>
<td>30</td>
<td>M</td>
</tr>
<tr>
<td>Charlie</td>
<td>28</td>
<td>M</td>
</tr>
</table>